html {
  font-family: "微软雅黑";
}
.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
body {
  box-sizing: border-box;
}
.nav {
  height: 60px;
  line-height: 60px;
  background: #ED334A;
  position: absolute;
  top: 0;
  left: 5%;
}
.nav i {
  color: white;
  font-size: 48px;
}
.nav i:hover {
  color: #000000;
}
.head {
  height: 100%;
  background: #ED334A;
  text-align: center;
}
.head p {
  font-size: 36px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.head a {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.head i {
  color: white;
  font-size: 50px;
}
.mypic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: white;
  margin: 0 auto;
  transform-origin: center;
  overflow: hidden;
}
.mypic img {
  height: 100%;
  padding-right: 15%;
}
.mypic:hover {
  transform: scale(1.2, 1.2);
}
.continue {
  height: 35px;
  width: 100px;
  background: red;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 35px;
}
.chart {
  height: 100%;
  width: 100%;
}
.movie {
  height: 100%;
  width: 100%;
}
.aboutme {
  height: 100%;
  width: 100%;
  background: white;
}
.aboutme h4 {
  font-size: 30px;
  color: black;
  margin: 50px 0;
}
.aboutme .about-list {
  height: 400px;
}
.aboutme .about-list div {
  height: 400px;
  float: left;
  margin-right: 50px;
  width: 350px;
  background: #ED334A;
  border-radius: 10px;
}
.skill {
  height: 600px;
  background: #ED334A;
}
.skill li {
  float: left;
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 50%;
  margin: 30px;
  overflow: hidden;
  display: inline-block;
}
.skill li img {
  margin-top: 40px;
  width: 100%;
  vertical-align: middle;
}
.skill li:hover {
  box-shadow: 2px 2px 15px gray;
}
.intern {
  height: 600px;
}
.intern h4 {
  font-size: 30px;
  color: black;
  margin: 50px 0;
}
.intern-detail {
  height: 300px;
  border: 1px solid gray;
  border-radius: 4px;
}
.contact {
  height: 300px;
}
.contact h4 {
  font-size: 30px;
  color: black;
  margin: 50px 0;
}
